USE [KnowledgeStore]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 31/12/2018 10:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauMaHoa] [varchar](256) NOT NULL,
	[TenHienThi] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK__Admin__AD7C6529EC95DFD4] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ChiTietDonHangID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[SachID] [int] NOT NULL,
	[MerchantID] [int] NOT NULL,
	[NgayXuat] [datetime] NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[TrangThaiDanhGia] [bit] NOT NULL,
	[TinhTrangDonHangID] [int] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChiTietD__45B33F83E672337C] PRIMARY KEY CLUSTERED 
(
	[ChiTietDonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
	[IDGoogle] [varchar](100) NULL,
	[IDFacebook] [varchar](100) NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[MatKhauMaHoa] [varchar](256) NULL,
	[GioiTinhID] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B8E4A49771] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaCuaCustomer]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaCuaCustomer](
	[DanhGiaCusID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ChiTIetDonHangID] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
	[SachID] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[SoSao] [float] NOT NULL,
 CONSTRAINT [PK__DanhGiaC__D704C54B1F1FC7EE] PRIMARY KEY CLUSTERED 
(
	[DanhGiaCusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaCuaMerchant]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaCuaMerchant](
	[DanhGiaMerID] [int] IDENTITY(1,1) NOT NULL,
	[MerchantID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[NgayDanhGia] [datetime] NULL,
	[NoiDung] [nchar](1000) NULL,
	[SoSao] [float] NOT NULL,
 CONSTRAINT [PK__DanhGiaC__AD7FFC7DDD1D3662] PRIMARY KEY CLUSTERED 
(
	[DanhGiaMerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[DoanhThuID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DoanhThu] PRIMARY KEY CLUSTERED 
(
	[DoanhThuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK__DonHang__D159F4DE04971300] PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTien]    Script Date: 31/12/2018 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTien](
	[GiaTienID] [int] IDENTITY(1,1) NOT NULL,
	[TenGiaTien] [nvarchar](150) NOT NULL,
	[TyGia] [decimal](18, 0) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_GiaTien] PRIMARY KEY CLUSTERED 
(
	[GiaTienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTriKIPXu]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTriKIPXu](
	[XuID] [int] IDENTITY(1,1) NOT NULL,
	[GiaTriXu] [decimal](18, 0) NULL,
 CONSTRAINT [PK_GiaTriKIPXu] PRIMARY KEY CLUSTERED 
(
	[XuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiTinh]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiTinh](
	[GioiTinhID] [int] IDENTITY(1,1) NOT NULL,
	[TenGioiTinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GioiTinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[HinhAnhID] [int] IDENTITY(1,1) NOT NULL,
	[SachID] [int] NOT NULL,
	[DuongDan] [varchar](500) NOT NULL,
 CONSTRAINT [PK_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[HinhAnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaHong]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaHong](
	[HoaHongID] [int] IDENTITY(1,1) NOT NULL,
	[PhanTranHoaHong] [int] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_HoaHong] PRIMARY KEY CLUSTERED 
(
	[HoaHongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDichXuCuaMerchant]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDichXuCuaMerchant](
	[MerchantID] [int] NOT NULL,
	[LichSuGiaoDichXuID] [int] IDENTITY(1,1) NOT NULL,
	[PhuongThucSuDung] [nvarchar](max) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[SoXu] [int] NOT NULL,
 CONSTRAINT [PK_LichSuGiaoDichXuCuaMerchant] PRIMARY KEY CLUSTERED 
(
	[LichSuGiaoDichXuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHoaHong]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoaHong](
	[LichSuHoaHongID] [int] IDENTITY(1,1) NOT NULL,
	[ChiTietDonHangID] [int] NOT NULL,
	[ThoiDiem] [datetime] NOT NULL,
	[GiaTriXu] [int] NOT NULL,
 CONSTRAINT [PK_LichSuHoaHong] PRIMARY KEY CLUSTERED 
(
	[LichSuHoaHongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuNangTin]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuNangTin](
	[NangTinID] [int] IDENTITY(1,1) NOT NULL,
	[SachID] [int] NOT NULL,
	[NgayNang] [datetime] NOT NULL,
 CONSTRAINT [PK__NangTin__36B5D6E180277628] PRIMARY KEY CLUSTERED 
(
	[NangTinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBia]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBia](
	[LoaiBiaID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBia] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiBiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 31/12/2018 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[MerchantID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhauMaHoa] [varchar](256) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](300) NOT NULL,
	[GioiTinhID] [int] NOT NULL,
	[TenCuaHang] [nvarchar](200) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[SoLuongKIPXu] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK__Merchant__04416563C82F31AF] PRIMARY KEY CLUSTERED 
(
	[MerchantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 31/12/2018 10:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[NhaXuatBanID] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaXuatBanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 31/12/2018 10:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[SachID] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[NhaXuatBanID] [int] NOT NULL,
	[NgayXuatBan] [datetime] NOT NULL,
	[SoTrang] [int] NOT NULL,
	[LoaiBiaID] [int] NULL,
	[MerchantID] [int] NULL,
	[TrangThai] [bit] NULL,
	[GiaTien] [decimal](18, 0) NOT NULL,
	[GiaKhuyenMai] [decimal](18, 0) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[Khoa] [bit] NULL,
	[TheLoaiID] [int] NOT NULL,
 CONSTRAINT [PK__Sach__F3005E3A42D94796] PRIMARY KEY CLUSTERED 
(
	[SachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 31/12/2018 10:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[TheLoaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TheLoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangDonHang]    Script Date: 31/12/2018 10:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDonHang](
	[TinhTrangDonHangID] [int] IDENTITY(1,1) NOT NULL,
	[TinhTrangDonHang] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__TinhTran__A76258C56A9471E8] PRIMARY KEY CLUSTERED 
(
	[TinhTrangDonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [TenDangNhap], [MatKhauMaHoa], [TenHienThi], [TrangThai]) VALUES (1, N'admin1', N'25f43b1486ad95a1398e3eeb3d83bc4010015fcc9bedb35b432e00298d5021f7', N'Nguyen Trung', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([ChiTietDonHangID], [DonHangID], [SachID], [MerchantID], [NgayXuat], [SoLuong], [ThanhTien], [TrangThaiDanhGia], [TinhTrangDonHangID], [GhiChu]) VALUES (23, 20, 4, 1, CAST(N'2018-12-15T18:29:47.753' AS DateTime), 1, CAST(70000 AS Decimal(18, 0)), 0, 4, NULL)
INSERT [dbo].[ChiTietDonHang] ([ChiTietDonHangID], [DonHangID], [SachID], [MerchantID], [NgayXuat], [SoLuong], [ThanhTien], [TrangThaiDanhGia], [TinhTrangDonHangID], [GhiChu]) VALUES (24, 21, 2, 1, CAST(N'2018-12-16T21:46:40.957' AS DateTime), 1, CAST(76300 AS Decimal(18, 0)), 0, 4, NULL)
INSERT [dbo].[ChiTietDonHang] ([ChiTietDonHangID], [DonHangID], [SachID], [MerchantID], [NgayXuat], [SoLuong], [ThanhTien], [TrangThaiDanhGia], [TinhTrangDonHangID], [GhiChu]) VALUES (25, 22, 2, 1, CAST(N'2018-12-16T21:46:43.723' AS DateTime), 1, CAST(76300 AS Decimal(18, 0)), 0, 4, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Email], [IDGoogle], [IDFacebook], [HoTen], [DiaChi], [SoDienThoai], [MatKhauMaHoa], [GioiTinhID], [NgayTao], [TrangThai]) VALUES (3, N'trungnguyen.19972707@gmail.com', NULL, NULL, N'Nguyễn HIếu Trung', N'21 Rean P1 Q1', N'03555555', N'44614173b35101485abf257087b6785e6b706e0c03d82ca4a4f00e310690c855', 1, CAST(N'2018-11-24T11:30:15.000' AS DateTime), 1)
INSERT [dbo].[Customer] ([CustomerID], [Email], [IDGoogle], [IDFacebook], [HoTen], [DiaChi], [SoDienThoai], [MatKhauMaHoa], [GioiTinhID], [NgayTao], [TrangThai]) VALUES (4, N'trungnguyen.1997270710@gmail.com', N'110711004994766166222', NULL, N'nguyen Trung', N'Trái Đất ALpha', N'05555555444', NULL, 1, CAST(N'2018-12-04T00:36:14.790' AS DateTime), 1)
INSERT [dbo].[Customer] ([CustomerID], [Email], [IDGoogle], [IDFacebook], [HoTen], [DiaChi], [SoDienThoai], [MatKhauMaHoa], [GioiTinhID], [NgayTao], [TrangThai]) VALUES (5, N'trungsendmailnek@gmail.com', N'115736197696172243720', NULL, N'Tester Tester', N'Trái Đất', N'05555555', NULL, 1, CAST(N'2018-12-04T01:20:16.090' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[DanhGiaCuaCustomer] ON 

INSERT [dbo].[DanhGiaCuaCustomer] ([DanhGiaCusID], [CustomerID], [ChiTIetDonHangID], [NoiDung], [SachID], [TieuDe], [SoSao]) VALUES (1, 3, 28, N'sách tốt giao diện', 39, N'Sách hay', 4)
INSERT [dbo].[DanhGiaCuaCustomer] ([DanhGiaCusID], [CustomerID], [ChiTIetDonHangID], [NoiDung], [SachID], [TieuDe], [SoSao]) VALUES (2, 11, 28, N'Đọc xong nhận ra nhiều điều về trái đất', 39, N'Sách khá hay', 5)
SET IDENTITY_INSERT [dbo].[DanhGiaCuaCustomer] OFF
SET IDENTITY_INSERT [dbo].[DanhGiaCuaMerchant] ON 

SET IDENTITY_INSERT [dbo].[DanhGiaCuaMerchant] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([DonHangID], [CustomerID], [NgayDat], [TongTien], [DiaChi], [TrangThai]) VALUES (20, 3, CAST(N'2018-12-15T18:27:56.883' AS DateTime), CAST(70000 AS Decimal(18, 0)), N' 21 Rean P1 Q1 ', 1)
INSERT [dbo].[DonHang] ([DonHangID], [CustomerID], [NgayDat], [TongTien], [DiaChi], [TrangThai]) VALUES (21, 10, CAST(N'2018-12-16T06:41:00.460' AS DateTime), CAST(76300 AS Decimal(18, 0)), N' 273 An Duong Vuong, An Lạc, Bình Tân, Ho Chi Minh City, Vietnam ', 1)
INSERT [dbo].[DonHang] ([DonHangID], [CustomerID], [NgayDat], [TongTien], [DiaChi], [TrangThai]) VALUES (22, 3, CAST(N'2018-12-16T09:24:20.727' AS DateTime), CAST(76300 AS Decimal(18, 0)), N' 21 Rean P1 Q1 ', 1)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
SET IDENTITY_INSERT [dbo].[GiaTien] ON 

INSERT [dbo].[GiaTien] ([GiaTienID], [TenGiaTien], [TyGia], [NgayTao]) VALUES (1, N'GiaNangTin', CAST(10 AS Decimal(18, 0)), CAST(N'2018-10-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiaTien] OFF
SET IDENTITY_INSERT [dbo].[GiaTriKIPXu] ON 

INSERT [dbo].[GiaTriKIPXu] ([XuID], [GiaTriXu]) VALUES (1, CAST(1000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[GiaTriKIPXu] OFF
SET IDENTITY_INSERT [dbo].[GioiTinh] ON 

INSERT [dbo].[GioiTinh] ([GioiTinhID], [TenGioiTinh]) VALUES (1, N'Nam')
INSERT [dbo].[GioiTinh] ([GioiTinhID], [TenGioiTinh]) VALUES (2, N'Nữ')
INSERT [dbo].[GioiTinh] ([GioiTinhID], [TenGioiTinh]) VALUES (3, N'Khác')
SET IDENTITY_INSERT [dbo].[GioiTinh] OFF
SET IDENTITY_INSERT [dbo].[HoaHong] ON 

INSERT [dbo].[HoaHong] ([HoaHongID], [PhanTranHoaHong], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (1, 5, CAST(N'2018-10-10T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[HoaHong] OFF
SET IDENTITY_INSERT [dbo].[LichSuGiaoDichXuCuaMerchant] ON 

INSERT [dbo].[LichSuGiaoDichXuCuaMerchant] ([MerchantID], [LichSuGiaoDichXuID], [PhuongThucSuDung], [NgayGiaoDich], [SoXu]) VALUES (1, 4, N'Paypal', CAST(N'2018-12-15T18:15:54.343' AS DateTime), 75)
INSERT [dbo].[LichSuGiaoDichXuCuaMerchant] ([MerchantID], [LichSuGiaoDichXuID], [PhuongThucSuDung], [NgayGiaoDich], [SoXu]) VALUES (6, 5, N'Paypal', CAST(N'2018-12-17T14:23:35.623' AS DateTime), 45)
INSERT [dbo].[LichSuGiaoDichXuCuaMerchant] ([MerchantID], [LichSuGiaoDichXuID], [PhuongThucSuDung], [NgayGiaoDich], [SoXu]) VALUES (1, 6, N'Paypal', CAST(N'2018-12-18T13:58:10.627' AS DateTime), 45)
SET IDENTITY_INSERT [dbo].[LichSuGiaoDichXuCuaMerchant] OFF
SET IDENTITY_INSERT [dbo].[LichSuHoaHong] ON 

INSERT [dbo].[LichSuHoaHong] ([LichSuHoaHongID], [ChiTietDonHangID], [ThoiDiem], [GiaTriXu]) VALUES (7, 23, CAST(N'2018-12-15T18:28:24.280' AS DateTime), -4)
INSERT [dbo].[LichSuHoaHong] ([LichSuHoaHongID], [ChiTietDonHangID], [ThoiDiem], [GiaTriXu]) VALUES (8, 25, CAST(N'2018-12-16T21:39:39.510' AS DateTime), -4)
INSERT [dbo].[LichSuHoaHong] ([LichSuHoaHongID], [ChiTietDonHangID], [ThoiDiem], [GiaTriXu]) VALUES (9, 24, CAST(N'2018-12-16T21:45:03.697' AS DateTime), -4)
SET IDENTITY_INSERT [dbo].[LichSuHoaHong] OFF
SET IDENTITY_INSERT [dbo].[LichSuNangTin] ON 

INSERT [dbo].[LichSuNangTin] ([NangTinID], [SachID], [NgayNang]) VALUES (14, 1, CAST(N'2018-12-15T18:17:32.730' AS DateTime))
INSERT [dbo].[LichSuNangTin] ([NangTinID], [SachID], [NgayNang]) VALUES (15, 2, CAST(N'2018-12-15T18:18:11.620' AS DateTime))
INSERT [dbo].[LichSuNangTin] ([NangTinID], [SachID], [NgayNang]) VALUES (16, 4, CAST(N'2018-12-17T12:37:43.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuNangTin] OFF
SET IDENTITY_INSERT [dbo].[LoaiBia] ON 

INSERT [dbo].[LoaiBia] ([LoaiBiaID], [LoaiBia]) VALUES (1, N'Bìa Cứng')
INSERT [dbo].[LoaiBia] ([LoaiBiaID], [LoaiBia]) VALUES (2, N'Bìa Mềm')
SET IDENTITY_INSERT [dbo].[LoaiBia] OFF
SET IDENTITY_INSERT [dbo].[Merchant] ON 

INSERT [dbo].[Merchant] ([MerchantID], [Email], [MatKhauMaHoa], [HoTen], [DiaChi], [GioiTinhID], [TenCuaHang], [SoDienThoai], [SoLuongKIPXu], [TrangThai], [NgayTao]) VALUES (1, N'xuanbach@gmail.com', N'e139e0af0024af125d47d560302021f42b8cf659f63a59da78552966670f732c', N'Hoa Vân Nam', N'3 Nguyễn Thị Minh Khai, District 1, Ho Chi Minh City, Vietnam', 1, N'Hoa Vân', N'0908750222', 74, 1, CAST(N'2018-10-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Merchant] ([MerchantID], [Email], [MatKhauMaHoa], [HoTen], [DiaChi], [GioiTinhID], [TenCuaHang], [SoDienThoai], [SoLuongKIPXu], [TrangThai], [NgayTao]) VALUES (3, N'tohuu@gmail.com', N'7f3c18cbb1e96205b68b601a2d6d869f702e240d5c13bc2a1126a0636ec75f32', N'Tố Hữu', N'1 Hùng Vương P1 Q5', 1, N'Cẩm Tuyết', N'0354789655', 0, 1, CAST(N'2018-10-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Merchant] ([MerchantID], [Email], [MatKhauMaHoa], [HoTen], [DiaChi], [GioiTinhID], [TenCuaHang], [SoDienThoai], [SoLuongKIPXu], [TrangThai], [NgayTao]) VALUES (4, N'trungnguyen.19972707@gmail.com', N'44614173b35101485abf257087b6785e6b706e0c03d82ca4a4f00e310690c855', N'Hiếu Trung', N'Trái Đất Phelne', 1, N'LastBook', N'033221166', 0, 1, CAST(N'2018-12-10T19:04:38.757' AS DateTime))
SET IDENTITY_INSERT [dbo].[Merchant] OFF
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([NhaXuatBanID], [TenNXB], [DiaChi]) VALUES (2, N'Nhà Xuất Bản Văn Học', N'18 Nguyễn Trường Tộ, P.Trúc Bạch, Ba Đình, Hà Nội.')
INSERT [dbo].[NhaXuatBan] ([NhaXuatBanID], [TenNXB], [DiaChi]) VALUES (3, N'Nhà Xuất Bản Lao Động', N'175 Giảng Võ, Q. Đống Đa, Hà Nội')
INSERT [dbo].[NhaXuatBan] ([NhaXuatBanID], [TenNXB], [DiaChi]) VALUES (10, N'Nhà Xuất Bản Hội Nhà Văn', N'Số 65 Nguyễn Du, Quận Hai Bà Trưng, HN')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

SET IDENTITY_INSERT [dbo].[Sach] OFF
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (1, N'Sách văn học')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (2, N'Sách kinh tế')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenTheLoai]) VALUES (3, N'Sách thiếu nhi ')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
SET IDENTITY_INSERT [dbo].[TinhTrangDonHang] ON 

INSERT [dbo].[TinhTrangDonHang] ([TinhTrangDonHangID], [TinhTrangDonHang]) VALUES (1, N'Đang xử lý...')
INSERT [dbo].[TinhTrangDonHang] ([TinhTrangDonHangID], [TinhTrangDonHang]) VALUES (2, N'Chờ lấy hàng...')
INSERT [dbo].[TinhTrangDonHang] ([TinhTrangDonHangID], [TinhTrangDonHang]) VALUES (3, N'Đang giao...')
SET IDENTITY_INSERT [dbo].[TinhTrangDonHang] OFF
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_TrangThaiDanhGia]  DEFAULT ((1)) FOR [TrangThaiDanhGia]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_TrangThai]  DEFAULT ((1)) FOR [TinhTrangDonHangID]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Customer__TrangT__4CA06362]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_TinhTrangDonHangID]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaHong] ADD  CONSTRAINT [DF_HoaHong_TinhTrang]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Merchant] ADD  CONSTRAINT [DF_Merchant_KIPXu]  DEFAULT ((0)) FOR [SoLuongKIPXu]
GO
ALTER TABLE [dbo].[Merchant] ADD  CONSTRAINT [DF_Merchant_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_Sach_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__DonHa__5629CD9C] FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDo__DonHa__5629CD9C]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Merchant] FOREIGN KEY([MerchantID])
REFERENCES [dbo].[Merchant] ([MerchantID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Merchant]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Sach]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_TinhTrangDonHang] FOREIGN KEY([TinhTrangDonHangID])
REFERENCES [dbo].[TinhTrangDonHang] ([TinhTrangDonHangID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_TinhTrangDonHang]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK__Customer__GioiTi__4BAC3F29] FOREIGN KEY([GioiTinhID])
REFERENCES [dbo].[GioiTinh] ([GioiTinhID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK__Customer__GioiTi__4BAC3F29]
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaCu__Custo__59FA5E80] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer] CHECK CONSTRAINT [FK__DanhGiaCu__Custo__59FA5E80]
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaCuaCustomer_ChiTietDonHang] FOREIGN KEY([ChiTIetDonHangID])
REFERENCES [dbo].[ChiTietDonHang] ([ChiTietDonHangID])
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer] CHECK CONSTRAINT [FK_DanhGiaCuaCustomer_ChiTietDonHang]
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaCuaCustomer_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[DanhGiaCuaCustomer] CHECK CONSTRAINT [FK_DanhGiaCuaCustomer_Sach]
GO
ALTER TABLE [dbo].[DanhGiaCuaMerchant]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaCu__Custo__5EBF139D] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[DanhGiaCuaMerchant] CHECK CONSTRAINT [FK__DanhGiaCu__Custo__5EBF139D]
GO
ALTER TABLE [dbo].[DanhGiaCuaMerchant]  WITH CHECK ADD  CONSTRAINT [FK__DanhGiaCu__Merch__5DCAEF64] FOREIGN KEY([MerchantID])
REFERENCES [dbo].[Merchant] ([MerchantID])
GO
ALTER TABLE [dbo].[DanhGiaCuaMerchant] CHECK CONSTRAINT [FK__DanhGiaCu__Merch__5DCAEF64]
GO
ALTER TABLE [dbo].[DoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThu_DonHang] FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[DoanhThu] CHECK CONSTRAINT [FK_DoanhThu_DonHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_Customer]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK_HinhAnh_Sach]
GO
ALTER TABLE [dbo].[LichSuGiaoDichXuCuaMerchant]  WITH CHECK ADD  CONSTRAINT [FK_LichSuGiaoDichXuCuaMerchant_Merchant] FOREIGN KEY([MerchantID])
REFERENCES [dbo].[Merchant] ([MerchantID])
GO
ALTER TABLE [dbo].[LichSuGiaoDichXuCuaMerchant] CHECK CONSTRAINT [FK_LichSuGiaoDichXuCuaMerchant_Merchant]
GO
ALTER TABLE [dbo].[LichSuHoaHong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoaHong_ChiTietDonHang] FOREIGN KEY([ChiTietDonHangID])
REFERENCES [dbo].[ChiTietDonHang] ([ChiTietDonHangID])
GO
ALTER TABLE [dbo].[LichSuHoaHong] CHECK CONSTRAINT [FK_LichSuHoaHong_ChiTietDonHang]
GO
ALTER TABLE [dbo].[LichSuNangTin]  WITH CHECK ADD  CONSTRAINT [FK_NangTin_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[LichSuNangTin] CHECK CONSTRAINT [FK_NangTin_Sach]
GO
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK__Merchant__GioiTi__440B1D61] FOREIGN KEY([GioiTinhID])
REFERENCES [dbo].[GioiTinh] ([GioiTinhID])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK__Merchant__GioiTi__440B1D61]
GO
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_GioiTinh] FOREIGN KEY([GioiTinhID])
REFERENCES [dbo].[GioiTinh] ([GioiTinhID])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_GioiTinh]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__LoaiBiaID__3E52440B] FOREIGN KEY([LoaiBiaID])
REFERENCES [dbo].[LoaiBia] ([LoaiBiaID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__LoaiBiaID__3E52440B]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__NhaXuatBan__3D5E1FD2] FOREIGN KEY([NhaXuatBanID])
REFERENCES [dbo].[NhaXuatBan] ([NhaXuatBanID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__NhaXuatBan__3D5E1FD2]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__TheLoaiID__3F466844] FOREIGN KEY([TheLoaiID])
REFERENCES [dbo].[TheLoai] ([TheLoaiID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__TheLoaiID__3F466844]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Merchant] FOREIGN KEY([MerchantID])
REFERENCES [dbo].[Merchant] ([MerchantID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_Merchant]
GO
